#menu {
    background: #006622;
    text-align: center;
    padding: 5px;
    line-height: 1.5;
    border-radius: 3px;
    overflow: auto;
}

#menu>#loggedInUser {
    float: right;
    margin-right: 10px;
}

#menu a {
    color: #EEEEEE;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

#menu a:hover {
    background: #00b33c;
}

#loggedInUser {
    color: #EEEEEE;
}

main section {
    display: none;
    padding: 20px 5px;
}

section h1 {
    margin: 10px 0px;
    font-size: 1.2em;
}

table th {
    background: #DDD;
    padding: 10px;
}

table td {
    padding: 5px 10px;
    background: #EEE;
}

td.movieActions {
    display: inline-block;
    white-space: nowrap;
}

#infoBox, #errorBox, #loadingBox {
    width: 80%;
    margin: 10px auto;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
}

#infoBox {
    background: #393;
}

#loadingBox {
    background: #7CB3E9;
}

#errorBox {
    background: #F50;
}


footer {
    background: #006622;
    color: #EEEEEE;
    padding: 5px 10px;
    margin-top: 20px;
    font-size: 0.8em;
    text-align: center;
    border-radius: 3px;
}

#viewHome {
    text-align: center;
}

#viewLogin, #viewRegister {
    margin: auto;
    padding-bottom: 10px;
    border-radius: 8px;
    width: 30%;
    text-align: center;
    background: #339933;
}

.movieDetailsView {
    padding: 5px;
}

.movieViewHeader {
    font-size: 1.2em;
    padding-top: 5px;
}

.movieViewData {
    padding-left: 5px;
}

.comment-list>li {
    list-style: none;
    margin-left: -40px;
    margin-right: 2px;
    margin-bottom: 5px;
}

.commentAuthor {
    background: #00b33c;
    color: #EEEEEE;
    padding: 2px;
    border-radius: 3px;
}

.commentText {
    background: #EEEEEE;
    padding-left: 5px;
}

th {
    background: #339933;
}